# Basic Python Packages
jsonpickle
matplotlib
numpy
plotly

# For Postgres DB Connection:
sqlalchemy
psycopg2-binary


# Streamlit Web App Support
streamlit
streamlit-authenticator

# Twitter crawling
tweepy


# Preprocessors
nltk
num2words
splitter