# Basic Python Packages
jsonpickle
matplotlib
numpy
plotly
scipy
xmltodict

# For Postgres DB Connection:
sqlalchemy
psycopg2-binary

arxiv

# Streamlit Web App Support
streamlit
streamlit-extras
streamlit-authenticator

# Twitter crawling
tweepy

# Preprocessors
nltk
num2words
splitter
docx2txt
PyPDF2
bs4
validators
python-pptx

# Huggingface
transformers
sentencepiece
torch

# Sentiment Analysis
textblob

pydeck

# FOr Scopus
elsapy